<h2 class="text-xl font-bold mb-4 bg-gray-100 text-gray-900 transition-colors duration-300">Adicionar Cliente</h2>
<form
    hx-post="{% url 'form_cadastro_cliente' %}"
    hx-target="#clientes-list"
    hx-swap="outerHTML"
    hx-on="htmx:afterRequest: handleAfterRequest(event)">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="flex justify-end space-x-2 mt-4">
        <button
            type="button"
            class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded"
            onclick="closeModal()">
            Cancelar
        </button>
        <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
            onclick="closeModal()">
            Salvar
        </button>
    </div>
</form>
